body {
    background-color: #FBD786;
     }
  h1 {
    color: #fff;
    font-size: 2.75rem;
    line-height: 3.125rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
  }
  h2 {
    color: #141E30;
    font-size: 24pt;
    font-weight: 500;
    margin-left: 40px;
    text-align: center;
    line-height: 1.1;
  }
  p {
    color:#203A43;
    font-size: 14pt;
    margin-top: 20px;
    text-align: center;
  }
  img {
    margin-top: 5px;
    margin-left: 397px;
    margin-top: 10px;
    margin-bottom: 10px;
      }
  h3 {
    color: #141E30;
    font-size: 20pt;
    font-weight: 500;
    margin-left: 90px;
    margin-bottom: 0px;
    line-height: 1.1;
  }
  ul {
    color: #141E30;
    font-size: 14pt;
    margin-top: 10PX;
    margin-left: 80px;
  }
 h4 {
  color: #141E30;
  font-size: 35pt;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
 }
 h5 {
  color: #141E30;
  font-size: 28pt;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
 }
 p1 {
  color: #203A43;
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
 }
 h6 {
  color: #141E30;
  font-size: 18pt;
  font-weight: 400;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
 }
 table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse:collapse;
  width: 50%;
  margin-left: 80px;
}

td, th {
  border: 1px solid #DA4453;
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color:#a17fe0;
}
p2 {
  color: #203A43;
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 20px;
}
h7 {
  color: #141E30;
  font-size: 16pt;
  font-weight: 400;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
}
li {
  font-size: 18px;
  margin-bottom: 20px;
}